# Virtual environment
backend/venv/

# Python cache
__pycache__/
*.py[cod]
*$py.class

# Data files
*.csv
*.xlsx
*.feather

# Environment variables
.env
.env.local

# IDE specific
.vscode/
.idea/

# Anaconda
.conda/
.ipynb_checkpoints/

# output files
backend/output.json

# No need for this in the git repo
tree.txt

# dependencies 
/node_modules/

# production
/dist
/build

# misc
.DS_store
.env
.env.local

# system files
Thumbs.db
*.log

# IDEs/editors
.vscode/
.idea/ 

# OS files
*.swp